.spinner-border.btn-loader--size-lg {
  width: 1.5rem;
  height: 1.5rem;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

.buttons-container-item {
  width: 45%;
}
