html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root,
#root > div {
  height: 100%;
  margin: 0;
}

#waveform {
  width: 100%;
  position: relative;
  float:left; 
}
#wavegraph {
  width: 200%;
  position: relative;
  float:left; 
}

#waveform-labels {
  width: 100%;
  position: relative;
  float:left; 
}

#timeline {
  width: 100%;
}
